<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDatabaseService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57541/DatabaseService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDatabaseService"
                contract="DBService.IDatabaseService" name="BasicHttpBinding_IDatabaseService" />
        </client>
    </system.serviceModel>
</configuration>